#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 20px 20px 40px 20px;
  background-image: url("www/bivariate_legend_static.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.tocify {
  border: none;   /*Removes border */
  border-radius: 0px; /* Gets rid of rounded corners on TOC */
  font-size: 16px;
}